<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="{% url 'uploadfile' %}" method="post" enctype="multipart/form-data" target="frm">
  {% csrf_token %}
  <input type="text" name="name" placeholder="name" />
  <input type="file" name="file" multiple />
  <button type="submit">Submit</button>
</form>
<iframe name="frm" style="width: 100%; height: 200px; border: 0" src="{% url 'uploadfilelist' %}"></iframe>
</body>
</html>